<?xml version="1.0" ?>
<launch>

    <group ns="bridge1">
            <include file="$(find iwt_gazebo_worlds)/launch/spawn_urdf.launch">
                <arg name="model_name" value="canal_bridge1"/>
                <arg name="x_init_pose" value="-12"/>
                <arg name="y_init_pose" value="50"/>
                <arg name="z_init_pose" value="0"/>
                <arg name="yaw_init_pose" value="3.4"/>
                <arg name="urdf_filepath" value="$(find iwt_gazebo_worlds)/urdf/canal_bridge2.urdf.xacro"/>
                <arg name="urdf_args" value="mesh_scale_x:=180.0 mesh_scale_y:=180.0 mesh_scale_z:=200.0"/> <!-- Set your desired scaling values -->
                <arg name="spawn_controllers" value="false"/>
                <arg name="spawn_robot_state_publisher" value="false"/>
            </include>
        </group>

    </launch>
