<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dlr_vessel">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- Model parameters -->
    <xacro:arg name="model_name" default="dlr_vessel"/>

    <!-- Include DLR vessel URDF file -->
    <xacro:include filename="$(find iwt_vessel_description)/urdf/dlr_vessel.urdf.xacro"/>

    <!-- Initialize DLR vessel macro -->
    <xacro:dlr_vessel model_prefix="$(arg model_name)_"/>

    <!-- Include VLP-16 sensor -->
    <xacro:include filename="$(find iwt_sensors)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="$(arg model_name)_base_link" name="velodyne16" topic="VLP16/velodyne_points" 
        organize_cloud="false" hz="10" lasers="16" samples="440" 
        collision_range="0.3" noise="0.008" gpu="false">
        <origin xyz="10 0 2.2" rpy="0 1.57 0"/>
    </xacro:VLP-16>

    <!-- Include Stereolab Zed2 camera -->
    <xacro:arg name="camera_name" default="stereolab_zed2_camera0" />
    <xacro:arg name="enable_gazebo_plugin" default="true" />

    <xacro:include filename="$(find iwt_sensors)/urdf/stereolabs_zed2.urdf.xacro" />
    <xacro:stereolabs_zed2 prefix="$(arg model_name)" camera_name="$(arg camera_name)" parent="$(arg model_name)_base_link" enable_gazebo_plugin="$(arg enable_gazebo_plugin)">
        <origin xyz="9.75 0 2.35" rpy="0 0 0"/>
    </xacro:stereolabs_zed2>

    <!-- Include MRS6000 sensor -->
    <!-- <xacro:include filename="$(find iwt_sensors)/urdf/SICK-MRS-6000.urdf.xacro"/>
    <xacro:mrs6MRS6000000 parent="$(arg model_name)_base_link" name="sickscan" topic="cloud" 
        organize_cloud="false" hz="10" lasers="24" samples="2740" 
        collision_range="0.3" noise="0.008" min_angle="-${120*M_PI/180}" max_angle="${120*M_PI/180}" gpu="true">
        <origin xyz="9.5 0 2.6" rpy="0 0 0"/>
    </xacro:MRS6000> -->

    <!-- Include XSens-IMU -->
    <xacro:include filename="$(find iwt_sensors)/urdf/xsens-imu.urdf.xacro" />
    <xacro:xsens_imu parent="$(arg model_name)_base_link" simulation="true">
        <origin xyz="9.5 0 2.8" rpy="0 0 0"/>
    </xacro:xsens_imu>

    <!-- Include VLP-32 sensor -->
    <xacro:include filename="$(find iwt_sensors)/urdf/VLP-32.urdf.xacro"/>
    <xacro:VLP-32 parent="$(arg model_name)_base_link" name="velodyne32" topic="VLP32/velodyne_points" 
        organize_cloud="false" hz="10" lasers="32" samples="880" 
        collision_range="0.3" noise="0.008" gpu="false">
        <origin xyz="9 0 3.4" rpy="0 0 0"/>
    </xacro:VLP-32>

    <!--  min_v_angle="-${25*M_PI/180}" -->

    <!-- Include OusterS0-32 -->
    <xacro:include filename="$(find iwt_sensors)/urdf/OS0-32.urdf.xacro"/>
    <xacro:OS0-32 parent="$(arg model_name)_base_link" name="os_sensor">
        <origin xyz="8.8 0 3.6" rpy="0 0 0"/>
    </xacro:OS0-32>

    <!-- GNSS sensor -->
    <xacro:include filename="$(find iwt_sensors)/urdf/GNSS_antenna.urdf.xacro"/>
    <xacro:gnss_antenna parent="$(arg model_name)_base_link" model_prefix="gnss_" name="gnss_antenna">
        <origin xyz="0 -1 4" rpy="0 0 0"/>
    </xacro:gnss_antenna>


</robot>
