<?xml version="1.0"?>

<model>
  <name>heightmap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Alonso Llorente</name>
    <email>alonsollorente1086@gmail.com</email>
  </author>

  <description>
    It is the shape of a river in a valley environment, textured with an standard mountain .jpg texture.
  </description>

</model>