<?xml version="1.0" ?>
<launch>
    <include file="$(find iwt_gazebo_worlds)/launch/spawn_world.launch"/> 
    <include file="$(find iwt_gazebo_worlds)/launch/spawn_bridges_river.launch"/> 

    <!-- Vessel model arguments -->

    <!-- Pose for river.world -->
    <arg name="x_init_pose" default="-10"/>
    <arg name="y_init_pose" default="0"/>
    <arg name="z_init_pose" default="0"/>
    <arg name="roll_init_pose" default="0"/>
    <arg name="pitch_init_pose" default="0"/>
    <arg name="yaw_init_pose" default="1.5704"/>

    <arg name="model_name" default="dlr_vessel"/>
    <arg name="urdf_filepath" default="$(find iwt_vessel_description)/robots/dlr_vessel.xacro"/>
    <arg name="urdf_args" default=""/>


    <!-- Vessel controllers arguments -->
    <arg name="spawn_controllers" default="true"/>
    <arg name="spawn_robot_state_publisher" default="true"/>

    <!-- RViz arguments -->
    <!-- Set launch_rviz to false for better performance of GNSS signal -->
    <arg name="launch_rviz" default="true"/>
    <arg name="rviz_config_file" default="$(find iwt_vessel_description)/rviz/vessel_sim_visualization.rviz"/>
    
    <!-- GNSS repub arguments -->
    <!-- <arg name="launch_gnss_repub" default="true"/> -->

    <!-- Launch GNSS republisher node -->
    <!-- <node name="gnss_republisher_node" pkg="iwt_sensors" type="gnss_republisher.py" output="screen"/> -->

    <!-- Include spawn urdf launch file to spawn the vessel in Gazebo -->
    <include file="$(find iwt_gazebo_worlds)/launch/spawn_urdf.launch" pass_all_args="true"/> 

    <!-- Launch RViz -->
    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" output="screen"/>

    
</launch>
